.navbar {
	/*#DCDCDC;*/
	background-color: #F0B2b2; 	
	height: 100px;	
	position: fixed;

}
.navbar-nav .navbar-center {
	position: absolute;
	left: 50%;	
}

.top-description{
	margin-bottom: 60%;
}

.top-pictures{
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
}

.top-pictures img{
	width: 100%;
	height: 100%;
}

body{	
	background-color: #DCDCDC;	
	z-index: 0;	
}

.main-content{
	padding: 150px 0px 50px 0px;
}

.description{
	margin-top: 2%;
}

.button {
	background-color: #4CAF50;	
	width: 120px;
	height: 120px;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50%;
	white-space:normal;
}

.jumbotron{
	padding: 20px 0px 20px 0px;
	margin: 0px auto;
	background: #336B87;
	color: floralwhite;
	text-align: center;
}

.link-icon{
	list-style-type: none;
}

.thisCarousel{
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

.carousel-inner > .item > img {  
	height:360px;
}

.footer-list{
	text-align: center;
	display: block;
	list-style-type: none;	
}
.footer-list a{
	color: white;
}
.footer-list-second{
	align-items: left;
}
.footer-list-second li{
	list-style-type: none;	
	display: inline-block;
	align-items: left;
}

.contact-list{
	text-align: left;
	display: block;
	list-style-type: none;	
	margin-left: 0px;
	padding-left: 0px;	
}

.contact-list a{
	color: black;
}

.contact-follow-me li{
	list-style-type: none;	
	display: inline-block;	
}

.contact-follow-me a{
	color: white;
}
.affix {
	margin-top: 20px;
	top: 20px;
	z-index: 9999 !important;      
}